@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ProximaNovaLight/ProximaNova-Light.woff2') format('woff2'),
			url('../fonts/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
			url('../fonts/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype'),
			url('../fonts/ProximaNovaLight/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue/');
	src: url('../fonts/BebasNeue/?#iefix') format('embedded-opentype'),
			url('../fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
			url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
			url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype'),
			url('../fonts/BebasNeue/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

